thesis.aux
thesis.bbl
thesis.blg
thesis.log
thesis.toc
thesis.out
thesis.synctex.gz
thesis.synctex.gz(busy)
diagrams/backgrounds.synctex.gz
diagrams/backgrounds.log
*.aux
diagrams/backgrounds2.synctex.gz

diagrams/backgrounds2.log
diagrams/signal.tex~
diagrams/signal.synctex.gz
diagrams/signal.log
*.swp
.gitignore~

thesis.pdf
